/*estilo geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}

body {
    height: 100vh;
    background-size:cover
    
    
    
}
.interface {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}


/*estilo do menu*/
header {
    padding: 40px 30%;
}

header >.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #686060;
    text-decoration: none;
    cursor: pointer;
    
}

header nav ul li {
    display: inline-block;
    padding: 0 20px ;
    font-size: 15px;
    text-transform: uppercase;
    
    

}
.bt-contato button {
    border-radius: 15px;
    background: #8CB3AF;
    box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    padding: 10px 25px;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
   
}

/*estilo Topo*/
section.topo-site {
    padding: 50px 7%;    
    
}

section >.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}


h1 {
    font-family: "bangers" ;
    color: #FFAE12;
    font-size: 70px;
    
    
} 
h2 {
    font-family: "bangers" ;
    color: #686060;
    font-size: 30px;
    padding-bottom: 10px;
    

}
.txt-p {
    padding-bottom: 30px;
}


.bt-saiba-mais {   
    border-radius: 15px;
    background: #FFAE12;
    box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    padding: 10px 35px;
    color: aliceblue;    
    font-size: 20px;
    cursor: pointer;       
       
}

/* estilo sobre nós*/
section.sobre-nos {
    padding: 40px 7%;
    background-color: #8CB3AF;
        
}
section.sobre-nos h1 {
    text-align: center;
    padding-top: 30px;

}
 
    
h1 span {    
    color: aliceblue;
    font-family: "bangers";
    
}
.flex {
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}
.quadrado {   
    background-color: antiquewhite;
    justify-content: center;
    text-align: left;
    border-radius: 30px 0 30px 0;
    padding: 30px ;
}
.quadrado p {
    padding: 40px 10px;
    border-left: solid;
    border-color: #ffad14;
    border-top: 10px;    
    font-size: 20px;
       
}

/*estilo serviços */
section.servicos h1 {
    text-align: center;
    padding-top: 30px;

}



.flex {
    display: flex;
    gap: 20%;
    
}
section.servicos {
    padding: 60px 7%;
    

}
.box-servico {
    margin-left: 40px;
}

.box-servico ul {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 10 10"><circle fill="orange" cx="7" cy="7" r="2"/></svg>');
    
}
li {
    font-size: 20px;
    color: #686060;
    padding-left: 20px;
}
.box-servico ul li {
    align-items: center;
    justify-items: center;
}
    

/*Footer*/

section.footer {
    background-color: #8CB3AF;
    
}
.box-footer h4{
    justify-content: center;
   text-align: center;
    color: aliceblue;
    padding: 20px;
}
    
    
   
    
   
    









